<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiQcel War</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div id="header">
        <div id="logo">
            <img src="/image/logo-iut.png" alt="IUT Logo" width="160" height="80">
        </div>
        <div id="title">
            <h1>P<span>iqcel</span> W<span>ar</span></h1>
        </div>
        <div id="deconnect">
            <input class="button" type="submit" value="SE DECONNECTER"/>
        </div>
        <div id="username">
            <p>Matt</p>
        </div>
    </div>
    <div id="canvas-container">
        <canvas id="canvas">
            <!-- Votre canvas ici -->
        </canvas>
    </div>
    <div id="footer">
        <div>
            <button class="color-button" style="background-color: pink;"></button>
            <button class="color-button" style="background-color: magenta;"></button>
            <button class="color-button" style="background-color: purple;"></button>
            <button class="color-button" style="background-color: yellow;"></button>
            <button class="color-button" style="background-color: orange;"></button>
            <button class="color-button" style="background-color: red;"></button>
            <button class="color-button" style="background-color: brown;"></button>
            <button class="color-button" style="background-color: green;"></button>
            <button class="color-button" style="background-color: cyan;"></button>
            <button class="color-button" style="background-color: teal;"></button>
            <button class="color-button" style="background-color: blue;"></button>
            <button class="color-button" style="background-color: white;"></button>
            <button class="color-button" style="background-color: silver;"></button>
            <button class="color-button" style="background-color: gray;"></button>
            <button class="color-button" style="background-color: black;"></button>
        </div>
        <div>
            <button class="rounded-button">Valider</button>
            <button class="rounded-button">Annuler</button>
        </div>
    </div>
</body>
<script type="module" src="/javascript/main.js"></script>

<a href="/signup">S'inscrire</a><br/>
<a href="/login">Se connecter</a>

</html>