<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="icon" type="image/png" href="/image/logo.png">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>S'inscrire</title>
</head>
<body>
    <div class="rectangle">
        <div class="form-container">
            <div class="headerform">
                <img class="image" src="/image/logo-iut.png"/>
                <div class="two">
                    <h1>PIQcel War
                      <span>S'inscrire</span>
                    </h1>
                </div>
            </div>

            <form id="formSignUp" action="/signup" method="post">
                <div id="errorMessageContainer"></div><br/>

                <label for="mail">Votre mail IUT :</label>
                <input type="text" name="mail" id="mail"/>

                <label for="psw">Votre mot de passe :</label>
                <div class="tooltips">
                    <input type="password" name="psw" id="psw"/>
                    <img class="tooltip" id="myButton" src="/image/question.png"/>
                </div>
                
                <label for="psw2">Retapez votre mot de passe :</label>
                <input type="password" name="psw2" id="psw2"/>

                <label for="pseudo">Votre pseudo :</label>
                <input type="text" name="pseudo" id="pseudo"/>

                <div class="centered">
                    <div id="captcha" class="g-recaptcha" data-sitekey="6LcUvrIoAAAAALOSAaOF56CQEcnYrevbMc1M0AHA"></div>
                </div>

                <input class="button" type="submit" value="S'INSCRIRE"/>
                <p class="subscribe">Déjà un compte ?
                    <a href="/login">Connectez-vous</a>
                </p>
            </form>
        </div>
    </div>

    <!-- Development -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script type="module" src="/javascript/signup.js"></script>
    <script>
        tippy('#myButton', {
            content: 'Le mot de passe doit contenir 12 caractères, 1 majuscule, 1 minuscule, 1 chiffre et 1 caractère spécial',
        });
    </script>
</body>
</html>