body {
    margin: 0;
    padding: 0;
    background-color: #393939;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
#header {
    background-color: white;
    text-align: left;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
#logo {
    display: inline-block;
    margin-right: 10px;
}
#title {
    display: inline-block;
    margin-left: -120px;
}
#username {
    display: inline-block;
    float: right;
}
#canvas-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas {
    background: #ffffff;
}
#footer {
    background-color: white;
    text-align: center;
    padding: 10px;
}
.color-button {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    display: inline-block;
    border: rgb(97, 97, 97) solid 2px;
}
.rounded-button {
    width: 200px;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:110%;
}
button:hover {
    transform: scale(1.1,1.1);
    cursor: pointer;
}

.color-button.active {
    border: rgb(59, 59, 59) solid 3px;
}

/* Mix de couleur entre #2C2B5A et #80B8B2 */
#title {
    font-weight: bold;
    color:#2C2B5A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title span {
    color: #6b9793;
}

.button {
    color:white;
    background-color: #2b2b5a;
    margin-bottom: 0.5em;
    padding:1em;
    border-radius: 7px;
    border: none;
    margin-bottom: 2em;
}
.button:hover {
    cursor:pointer;
}
